# IDEs
.project
.pydevproject
.idea
.vscode
.settings

# Random files
*~
\#*

virtualenv/
htmlcov/
postgres/
static_dist/
static_root/

# Python compiled byte code
*.py[cod]
__pycache__


# virtual environments
.env

# User-uploaded media
venv/
staticfiles
venv

# SQLite3 database
*.sqlite

# Node modules
node_modules/
yarn.lock
npm-debug.log
static/builds-dev
static/builds
webpack-stats.json

# Coverage
coverage/
.coverage
.cache

# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
.coveragerc

# in case we run shippable tests don't include it
shippable/

# not include scripts because they come from external module
scripts/
